.Register {
    text-align: center;
    background-color: #e11515;
    min-height: 100vh;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.RegisterContainer {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: auto; /* Center align within the parent container */
}

/* Heading Styling */
h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
}

/* Input Group */
.inputGroup {
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Gradient Button for Register */
.gradientButton {
    padding: 12px;
    font-size: 16px;
    background: linear-gradient(135deg, #ff6f91, #ff9671); /* Gradient for register button */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.gradient-button:hover {
    background: linear-gradient(135deg, #ff9671, #ff6f91); /* Hover effect */
    transform: scale(1.05); /* Hover scaling */
}

/* Link Button Styling */
.linkButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.linkButton:hover {
    background-color: #0056b3;
}

/* Message Styling */
.message {
    margin-top: 20px;
    font-size: 16px;
}

.Header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    Text-align: center;
}
